@media (min-width:1280px) and (max-width:1280px){
    html{
    background:#29355C;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;}}

#contenedor{
    position: absolute;
    width: 977px;
    height: 562px;
    left: 151px;
    top: 77px;
    
    background: #626591;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;}

#textoSuperior{
    position: absolute;
    width: 332px;
    height: 46px;
    left: 463px;
    top: 12px;
    text-align: center;
    font-size: 30px;
}

#textoEntrada{
    position: absolute;
    width: 295px;
    height: 48px;
    left: 261px;
    top: 104px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

#textoSalida{
    position: absolute;
    width: 193px;
    height: 48px;
    left: 770px;
    top: 104px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

#entrada{
    position: absolute;
    width: 322px;
    height: 331px;
    left: 252px;
    top: 156px;
    
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;

}

#salida{
    position: absolute;
    width: 322px;
    height: 330px;
    left: 705px;
    top: 157px;
    
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
}

#encriptar{
    position: absolute;
    width: 143px;
    height: 47px;
    left:252px;
    top: 530px;
    
    background: #3C3AC6;
    border-radius: 10px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    transition: 0.2s all;
    cursor: pointer;
    display:inline-block
}

#desencriptar{
    position: absolute;
    width: 159px;
    height: 48px;
    left: 409px;
    top: 529px;
    
    background: #3C3AC6;
    border-radius: 10px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#copiar{
    position: absolute;
    width: 158px;
    height: 47px;
    left: 789px;
    top: 529px;

    background: #3C3AC6;
    border-radius: 10px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}